*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.image-big{
    background-size: contain;
    min-height:500px;
    background-image:url("../img/jumbo.png");
}
.container-titoletto{
    display:flex;
    height:50px;
    color:white;
}
.menu-titolo{
    font-size: 15px;
    width:25%;
    text-align:center;
    align-self: center;
}
.menu-titolo-centro{
    width:50%;
 align-self:center;
}
.lista-titoletto{
    display:flex;
    justify-content: space-around;
}
.lista-titoletto li{
    list-style-type: none;
}
.intestazione{
    width:50%;
    margin-top:100px;
    font-size:30px;
    color:white;
    margin-left:25%;
    margin-right: 25%;
    text-align:center;
}
.sottotitologrande{
    font-size:22px;
    text-align:center;
}
.buttons{
    padding:10px;
    text-align:center;
}
.button-up{
    min-width:70px;
    height:50px;
    font-size:15px;
    border-radius:15%;
    text-align: center;
    padding:10px;
}
.black-button{
    color:white;
    background-color: black;
}
hr{
    color: gray;
}
.sin-col{
    min-height:300px;
    flex-basis:60%;
}
.dest-col{
    font-size:20px;
    min-height:300px;
    flex-basis:40%;
}
.destra{
    align-self: center;
}
.immagini-sezioni{
    display:flex;
    height:100%;
    max-width:1200px;
    margin:50px auto;
    align-items: center;
}
.immagine-sezione-down{
    font-size:20px;
    width:60%;
    margin:0 20%;
    text-align: center;
}
.colonna-down{
    font-size:20px;
}

.last-section{
    margin-bottom:50px;
    text-align: center;
}
.titolone{
    margin-bottom:50px;
}
.sezione-finale{
    min-height:200px;
    background-color: rgb(16, 16, 56);
    display:flex;
    justify-content:space-around;
    color:white;
    padding:20px;
    margin:0 auto;
}
.colonna-sinistra-finale{
    font-size:20px;
    width:40%; 
}
.colonna-destra-finale{
    display:flex;
    justify-content:space-between;
    margin-right:10%;
    width:60%;
}
.menu-item{
    padding-top:5px;
}
.destra-colonna{
    font-size: 15px;
}

.icone-social{
  margin-top:10px;  
}
.titoletto-footer , .titoletto-sinistra-footer{
    color:lightblue;
}
.footer-container{
    height:50px;
    background-color: rgb(16, 16, 56);
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.footerino{
    color:white;
}
.fa-brands{
    padding:5px;
}
.button-down{
    height:50px;
    font-size:15px;
    border-radius:15%;
    text-align: center;
    padding:10px;
}